@import url("https://use.typekit.net/pvj4xex.css");

@import url("https://indestructibletype.com/fonts/Bodoni/Bodoni.css");

@font-face {
  font-family: "Mosk Extra-Light 200";
  font-style: normal;
  font-weight: normal;
  src: local("Mosk Extra-Light 200"),
    url("fonts/Mosk Extra-Light 200.woff") format("woff");
}

@font-face {
  font-family: "Mosk Medium 500";
  font-style: normal;
  font-weight: normal;
  src: local("Mosk Medium 500"),
    url("fonts/Mosk Medium 500.woff") format("woff");
}

body {
  background-color: #4a4a4a;
  font-family: "Mosk Medium 500";
  color: white;
  font-size: 14pt;
  margin-left: 5%;
}

h1 {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 32pt;
  margin-bottom: 0;
}

h2 {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 26pt;
  margin-top: -18%;
  margin-bottom: 6%;
  margin-left: 20%;
}

h3 {
  font-family: "Bodoni 72";
  font-style: italic;
  font-size: 20pt;
  color: yellow;
  margin-top: 0;
  margin-bottom: 5%;
}

.div {
  margin: 1%;
  margin-left: 0%;
  margin-bottom: 2%;
}

#form {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-top: -2%;
}

.menu {
  font-family: "Mosk Extra-Light 200";
  margin: 1%;
  margin-left: 0;
}
